<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <% include helper/head %>
    
    
    
</head>
<body>
    <% include helper/aside %>
    
    <div id="main">
        <div class="wrapper">
            <% for( var i=0; i<posts.length; i++ ) { %>
            <article class="post-item" data-postid="<%= posts[i].id %>">
                <h2 class="post-title"><a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a></h2>
                <p><span class="writen">writenby:</span><%= posts[i].author%></p>

                <!-- todo 允许用户定义cover图片的位置,达到最好的效果, 现在先用"固定高度 + bg-size:cover" -->
                <% if (posts[i].summary.img) { %>
                <div class="cover" style="background-image: url('<%= posts[i].summary.img %>')">
                    <img src="<%= posts[i].summary.img %>" class="cover-img">
                </div>
                <% } %>
                
                <p class="summary"><%-: posts[i].summary.text | md %></p>
                <a href="/posts/<%= posts[i].id %>" class="post-more">Read More...</a>
            </article>
            <% } %>
        </div>
    </div>

    <% include helper/module_about %>

    <script src="/dist/3rdpartylib/jquery.all.js"></script>
    
    <script src="/script/view/blog/pageInit.js"></script>
</body>
</html>