<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/layout/css/layout.css" >
    <script src="/script/common/jquery-1.8.3.js"></script>
    <script src="/script/common/showdown_prism.js"></script>
    <script src="/script/blog_view.js"></script>
    <!--[if lt IE 9]>
    <script src="/script/common/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <aside>
        <div id="avatar">
            <!-- <img src="/img/birds_doodle.jpg" alt=""> -->
            <!-- <img src="/img/dao.jpg" alt=""> -->
            <!-- <img src="/img/cat.jpg" alt=""> -->
            <img src="/img/noface.jpg" alt="">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">PostList</a></li>
                <li><a href="/photos">Photos</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div id="copyright">
            <span>Copyright: @chenllos</span>
        </div>
    </aside>
    <div id="main">
        <div class="wrapper">
            <section id="post-section" data-postid="<%= art.id %>">
                <h2 class="art-title"><%= art.title %></h2>
                <article><%-: art.content | md %></article>
            </section>

            <section id="comment">
                <div id="cmtcreate-ctn">
                    <textarea name="" id="write-cmt" placeholder="write down your comment..." spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></textarea>
                    <span class="btn btn-primary" id="pub-cmt">发表评论</span>
                </div>
                
                <div id="cmtlist-ctn">
                    <ul>

                    <% for( var i=0; i<cmtList.length; i++){ %>
                        <li>
                            <span class="cmt-time"><%=: cmtList[i].dt_create | time %></span>
                            <a href="<%= cmtList[i].site? cmtList[i].site: 'javascript:void(0);' %>" class="cmt-from"><%= cmtList[i].from + ':' %></a>
                            <span class="cmt-comtent"><%= cmtList[i].content %></span>
                        </li>
                    <% } %>

                    </ul>
                </div>
            </section>

        </div>
    </div>
</body>
</html>