<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <% include helper/head %>

    <script src="/dist/3rdpartylib/sea.js"></script>
    <script src="/dist/3rdpartylib/avalon.all.js"></script>

</head>
<body>

    <% include helper/aside %>

    <div id="main">
        <div class="wrapper">
            <section id="post-section" data-postid="<%= art.id %>">
                <!-- <h2 class="art-title"><%= art.title %></h2> -->
                <article class="post"><%-: art.content | md %></article>
            </section>

            <section id="comment" ms-controller="comment">
                <div id="cmtcreate-ctn">
                    <textarea name="" id="write-cmt" placeholder="Write down your comment... *" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off"></textarea>
                    <input type="text" placeholder="Your name *" id="cmt-author">
                    <input type="text" placeholder="Your site/blog" id="author-site">
                    <input type="text" placeholder="Your email " id="author-email">
                    <span class="btn btn-primary" id="pub-cmt">发表评论</span>
                </div>

                <div id="cmtlist-ctn">
                    <ul>

                    <% for( var i=0; i<cmtList.length; i++){ %>
                        <li>
                            <!-- <span class="cmt-time"><%=: cmtList[i].dt_create | time %></span> -->
                            <span class="cmt-time-client" data-timeutc="<%= cmtList[i].dt_create %>"><%=: cmtList[i].dt_create | time %></span>
                            <a href="<%= cmtList[i].site? cmtList[i].site: 'javascript:void(0);' %>" class="cmt_author"><%= cmtList[i].commenter + ':' %></a>
                            <span class="cmt-comtent"><%= cmtList[i].content %></span>
                        </li>
                    <% } %>

                        <li class="newly-pubed" ms-repeat-cmt="comments">
                            <span class="cmt-time-client" ms-data-timeutc="cmt.dt_create">{{ cmt.dt_create | date('yyyy-MM-dd HH:mm' ) }}</span>
                            <a ms-href="cmt.site" class="cmt_author">{{ cmt.commenter + ':' }}</a>
                            <span class="cmt-comtent">{{ cmt.content }}</span>
                        </li>

                    </ul>
                </div>
            </section>

        </div>
    </div>

    <% include helper/module_about %>

    <script src="/dist/3rdpartylib/jquery.all.js"></script>
    <script src="/dist/3rdpartylib/showdown_prism.js"></script>
    <script src="/script/view/blog/pageInit.js"></script>
    <script>
        avalon.config({
            loader: false
        });
        seajs.config({
            paths: {
                script: cllVersion.scriptPath
            }
        });
        seajs.use('script/controller/blogCtrl');
    </script>
</body>
</html>
